@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url(HelveticaNeueCyr-Roman.ttf);
}
@font-face {
    font-family: HelveticaNeueCyr-Thin;
    src: url(HelveticaNeueCyr-Thin.ttf);
}
body p{
    font-family: HelveticaNeueCyr-Thin;
    font-size: 2.5rem;
}

.black {
    margin-top: -100px;
    text-align: center;
    background: #000;
    height: 2560px;
    width: 100%;
}

.black p{
    padding-top: 150px;
    color: white;
}

.text{
    opacity: 0;
}

.text2 {
    opacity: 1;
    transition: 2s ease-in-out;
}

.text3 {
    opacity: 0;
    transition: 2s ease-in-out;
}

.text4 {
    opacity: 1;
    transition: 2s ease-in-out;
}

.text5 {
    opacity: 1;
}

.text6 {}
